table {
    border-collapse: collapse;
    width: 100%;
    text-align: justify;

    /* border: 1px solid; */
    th {
        font-size: 20px;
        /* text-align: center; */
        height: 50px;
        /* background-color: #223; */
    }

    td {
        height: 40px;
    }
}

th, td {
    padding: 0 15px;
    border-bottom: 1px solid;
}

tr:nth-child(even) {
    background-color: #383838;
}